html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  background: transparent;
}

:root {
  --sidebar-bg: #2A2550;
  --sidebar-bg2: #e46858;
  --sidebar-bg3: #f9c54f;
  --dd-color-0: #f8f8f8;
  --dd-color-1: #2A2550;
  --dd-color-2: #e46858;
  --dd-color-3: #111;
  --dd-color-4: #fff;
  --dd-color-5: #efeff7;
  --dd-color-6: #c5c5d6;
  --dd-color-7: #f9c54f;
  --dd-error: #e74c3c;
  --dd-success: #4caf50;
  --dd-warning: #ffa755;
  --dd-maintenance: #57b1fb;  
  --dd-shadow-1: 0px 0px 20px rgba(0, 0, 0, 0.1);
  --dd-radius-1: 1rem;
  --dd-radius-2: .5rem;
  --dd-radius-3: 2rem;
}

a,
select,
.menuToggler,
.header,
.contentBody,
.nav-text,
.btnPrimary,
.btnSecondary,
.downArrow,
button,
.downArrowDark,
.downArrow,
.team-style-default,
.inner{
  transition: all 0.4s;
}

html {
  -webkit-text-size-adjust: 100%;
}

html.scOff {
  max-height: 100vh;
  overflow: hidden;
}

body {
  background: var(--dd-color-0);
  color: var(--dd-color-3);
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1.3;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  word-break: break-word;
  letter-spacing: .01rem;
}

hr {
  margin: 20px 0;
  background: var(--dd-color-3);
  height: 1px;
  border: none;
  opacity: 0.1;
}

ul {
  list-style-type: none;
}

ol {
  margin-left: 30px;
}

ol li {
  margin-bottom: 10px;
}

ol li:last-child {
  margin-bottom: 0;
}

ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--dd-color-1);
}

h1 {
  font-size: 4rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

img {
  border: none;
  max-width: 100%;
}

a {
  color: var(--dd-color-3);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul:last-child,
ol:last-child,
p:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

a,
input,
button,
img,
select,
textarea {
  outline: 0 none;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

select {
  -webkit-appearance: none;
  padding-right: 30px;
  background: url(../images/icon-arrow-down.svg) no-repeat right center / 12px;
}

.btnPrimary,
.btnSecondary,
.btnBorder {
  border: 0;
  padding: 8px 15px;
  font-weight: 400;
  border-radius: var(--dd-radius-3);
  cursor: pointer;
  font-size: 0.875rem;
  min-width: 100px;
  background: transparent;
  border: 1px solid;
  text-decoration: none;
  display: inline-block;
}

.btnPrimary,
.btnPrimary:disabled:hover {
  background: var(--dd-color-1);
  border-color: var(--dd-color-1);
  color: var(--dd-color-4);
}

.btnPrimary:hover {
  border-color: var(--dd-color-2);
  background: var(--dd-color-2);
  text-decoration: none;
}

.btnSecondary,
.btnSecondary:disabled:hover {
  border-color: var(--dd-color-2);
  background: var(--dd-color-2);
  color: var(--dd-color-4);
}

.btnSecondary:hover {
  border-color: var(--dd-color-1);
  background: var(--dd-color-1);
  color: var(--dd-color-4);
  text-decoration: none;
}

.btnPrimary:disabled,
.btnSecondary:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
.btnBorder,
.btnBorder:disabled:hover {
  background: transparent;
  border-color: var(--dd-color-1);
  color: var(--dd-color-1);
}

.btnBorder:hover {
  border-color: var(--dd-color-2);
  background: var(--dd-color-2);
  color: var(--dd-color-4);
  text-decoration: none;
}
.downArrow, .downArrowDark{  
  width: 10px;
  height: 10px;
  display: inline-block;
}
.downArrow{
  background: url(../images/icon-arrow-down.svg) no-repeat center center / 100%;
}
.downArrowDark{
  background: url(../images/icon-arrow-down-dark.svg) no-repeat center center / 100%;
}
.btnSecondary .downArrowDark{
  background: url(../images/icon-arrow-down.svg) no-repeat center center / 100%;
}
* {
  -webkit-text-size-adjust: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--dd-color-7);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--dd-color-6);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dd-color-1);
} */

.txtRight {
  text-align: right !important;
}

.txtLeft {
  text-align: left !important;
}

.txtCenter {
  text-align: center !important;
}

.containerFull {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.flxCenter{
  display: flex;
  align-items: center;
}
.flexSpaceCenterBetween{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}


/* Left Menu Sidebar */
.leftNav {
  width: 10rem;
  padding-bottom: 0;
  height: calc(100%);
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 0;
  z-index: 6;
  background-color: var(--sidebar-bg);
  transition: all .2s ease;
  box-shadow: 0rem 0.9375rem 1.875rem 0rem rgb(0 0 0 / 2%);
  display: flex;
  flex-direction: column;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.leftNav .maninMenu {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.leftNav .maninMenu>li {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

.leftNav .maninMenu>li>a {
  display: inline-block;
  position: relative;
  font-weight: 400;
  letter-spacing: .05rem;
  text-decoration: none;
  padding: 1rem 0.5rem;
  color: var(--dd-color-4);
}

.leftNav .maninMenu>li>a i {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: var(--sidebar-bg2);
  color: rgba(0, 0, 0, 0.3);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: .75rem;
  line-height: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.3125rem;
  transition: all 0.4s;
}

.leftNav .maninMenu>li>a i img {
  width: 22px;
}

.leftNav .maninMenu>li:hover>a i,
.leftNav .maninMenu>li>a.active i {
  background: var(--sidebar-bg3);
}

.leftNav .nav-text {
  display: block;
}

.leftNav.active {
  width: 6rem;
}

.leftNav.active .nav-text {
  opacity: 0;
  font-size: 0;
}



/* Header */
.siteLogo {
  padding: 0 1rem;
  margin: 0;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.siteLogo a {
  width: 128px;
  height: 64px;
  background: url(../images/logo.png) no-repeat center center / 100%;
  display: block;
  overflow: hidden;
}

.leftNav.active .siteLogo a {
  height: 42px;
  background-size: 160px;
  background-position: center top;
}

.siteLogo img {
  vertical-align: middle;
}

.siteLogo .logoFull {
  width: auto;
  opacity: 1;
}

.siteLogo .logoIcon {
  width: 0px;
  opacity: 0;
}

.collapseNav .siteLogo .logoFull {
  width: 0px;
  opacity: 0;
}

.collapseNav .siteLogo .logoIcon {
  width: 46px;
  opacity: 1;
}

.menuToggler {
  opacity: 0;
  position: absolute;
  right: -12px;
  top: 38px;
  background: var(--sidebar-bg2);
  border-radius: 30px;
  width: 24px;
  height: 24px;
  z-index: 1;
  display: flex;
  padding: 5px;
  cursor: pointer;
}

.leftNav:hover .menuToggler {
  opacity: 1;
}

.menuToggler.active {
  transform: rotate(180deg);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  padding: 0rem;
  background: var(--dd-color-4);
  padding-left: 10rem;
  padding-top: 0rem;
  box-shadow: 0 0 20px 0px rgb(82 63 105 / 7%);
  z-index: 3;
}

.header h2 {
  margin-bottom: 0;
  text-transform: uppercase;
}

.header .headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.header.active {
  padding-left: 6rem;
}

/* Body */
.contentBody {
  margin-left: 10rem;
  margin-top: 6rem;
  padding: 2.5rem;
  flex: 1;
  z-index: 0;
}

.contentBody.active {
  margin-left: 6rem;
}
.projectInnerWrap{
  padding: 10px;
  background: var(--dd-color-5);
  border-radius: 1.8rem;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  margin-bottom: 1.875rem;
  background-color: #fff;
  transition: all .5s ease-in-out;
  position: relative;
  border: 0rem solid transparent;
  border-radius: 1.25rem;
  box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgb(82 63 105 / 5%);
  height: calc(100% - 30px);
}

.card-header {
  position: relative;
  background: transparent;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-title {
    font-size: 1rem 1.25rem;
    font-weight: 500;
    color: var(--dd-color-1);
    margin-bottom: 0rem;
}
.card-header-right{
  display: flex;
}
.card-header-right .dropdown{
  margin-left: 10px;
}

.card-body {
    padding: 1rem 1.25rem;
    flex: 1 1 auto;
}
.projectInnerWrap .card{
  height: calc(100% - 0px);
  margin-bottom: 0;
}

/* Table */
.dataTbl{
    position: relative;
    border-radius: 10px;
    border: 0.0625rem solid #e46858;
}
.tblScroll-X{
    overflow-x: auto;
}
.tblScroll-Y{
    overflow-y: auto;
    max-height: 300px;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    background-color: transparent;
    border-collapse: separate;
    border-spacing: 0;
}  
.table th,
.table td{
    padding: 0.9375rem 0.625rem;
    vertical-align: middle;
    text-align: left;
    white-space: normal;
    word-break: break-word;
    border-bottom: 0;
}
.dataTbl thead, .dataTbl thead tr{
  background: var(--sidebar-bg2);
}
.dataTbl thead th {
    background: var(--sidebar-bg2);
    color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-transform: uppercase;
    font-weight: 500;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--dd-color-5);
}
.table-hover tbody tr:hover {
    background-color: var(--dd-color-5);
}
.dataTbl thead th:first-child{
    border-radius: 8px 0 0 0;
}
.dataTbl thead th:last-child{
    border-radius: 0 8px 0 0;
}
.projectImage img{
  vertical-align: middle;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.tblScroll-X {
  overflow-x: auto;
}

.tblScroll-Y {
  overflow-y: auto;
  max-height: 300px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  background-color: transparent;
  border-collapse: separate;
  border-spacing: 0;
}

.table th,
.table td {
  padding: 0.9375rem 0.625rem;
  vertical-align: middle;
  text-align: left;
  white-space: normal;
  word-break: break-word;
  border-bottom: 0.0625rem solid #EEEEEE;
}

.dataTbl thead,
.dataTbl thead tr {
  background: var(--sidebar-bg2);
}

.dataTbl thead th {
  background: var(--sidebar-bg2);
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-transform: uppercase;
  font-weight: 500;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: var(--dd-color-0);
}

.table-hover tbody tr:hover {
  background-color: var(--dd-color-0);
}

.dataTbl thead th:first-child {
  border-radius: 8px 0 0 0;
}

.dataTbl thead th:last-child {
  border-radius: 0 8px 0 0;
}

.w-100 {
  min-width: 100px;
  width: 100px;
}

.w-130 {
  min-width: 130px;
  width: 130px;
}

.w-150 {
  min-width: 150px;
  width: 150px;
}

.w-175 {
  min-width: 175px;
  width: 175px;
}

.w-200 {
  min-width: 200px;
  width: 200px;
}

.w-250 {
  min-width: 250px;
  width: 250px;
}

.w-300 {
  min-width: 300px;
  width: 300px;
}

/* Status  and Tags*/
.statusWrap {
  display: flex;
  align-items: center;
}

.circle {
  width: 10px;
  min-width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.success {
  background: var(--dd-success);
}

.canceled,
.error {
  background: var(--dd-error);
}

.warning {
  background: var(--dd-warning);
}

.maintenance{
  background: var(--dd-maintenance);
}

.tag {
  padding: 4px 10px;
  border-radius: 4px;
}

.tag.error {
  color: var(--dd-color-4);
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownMenu {
    border: 0;
    border-radius: var(--dd-radius-1);
    box-shadow: 0 0 3.125rem 0 rgb(82 63 105 / 15%);
    margin-top: 0;
    position: absolute;
    top: 100%;
    display: none;
    min-width: 200px;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 0.875rem;
    color: #393939;
    text-align: left;
    list-style: none;
    background-color: var(--dd-color-4);
    z-index: 1000;    
}
.dropdownInnerWrap{
  max-height: 300px;
  overflow-y: auto;
}
.dropdown button{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown button span {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 140px;
  white-space: nowrap;
  display: inline-block;
  margin-right: 10px;
}
.dropdown.show .downArrow, .dropdown.show .downArrowDark{
  transform: rotate(180deg);
}
.dropdown button:hover .downArrowDark{
  background: url(../images/icon-arrow-down.svg) no-repeat center center / 100%;
}
.dropdownMenu.dropdownRight {
  left: auto;
  right: 0;
}

.dropdownMenu.show {
  display: block;
}

.dropdownMenu .dropdownItem {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: var(--dd-color-3);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 0.875rem;
    padding: 0.75rem 1.5rem;
}

.dropdownMenu .dropdownItem:hover,
.dropdownMenu .dropdownItem:focus,
.dropdownMenu .dropdownItem:active,
.dropdownMenu .dropdownItem.active {
    color: var(--dd-color-3);
    background: var(--dd-color-5);
}

/* Workforce */
.innerTitle{
  margin-bottom: 60px;
}
.team-style-default {
  margin-top: 75px;
  margin-bottom: 30px;
  height: calc(100% - 105px);
  display: flex;
  flex-direction: column;
}
.team-style-default .inner {
  background: linear-gradient(180deg, #fff 20%, rgba(255, 255, 255, 1));
  backdrop-filter: blur(4px) opacity(0.95);
  box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgb(82 63 105 / 5%);
  border-radius: var(--dd-radius-2);
  background-color: var(--dd-color-4);
  flex: 1;
}
.team-style-default:hover .inner {
  background: linear-gradient(180deg, rgba(249, 197, 79, 0.85) 20%, rgba(228,104,88, 0.85) 100%);
  backdrop-filter: blur(4px) opacity(0.15);
}
.team-style-default:hover *{
  color: var(--dd-color-4);
}
.team-style-default .inner .thumbnail {
  max-width: 150px;
  max-height: 150px;
  border-radius: 100%;
  top: -75px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 150px;
  min-height: 150px;
  overflow: hidden;
  background: var(--dd-color-5);
}
.team-style-default .inner .thumbnail img {
  border-radius: 100%;
  transition: all .4s;
}
.team-style-default:hover .inner .thumbnail img {
  transform: scale(1.1);
}
.team-style-default .inner .content {
  text-align: center;
  padding: 20px;
  padding-top: 85px;
  padding-bottom: 35px;
}
.team-style-default .inner .content .title {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 6px;
}
.team-style-default .inner .content .subtitle {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 15px;
  display: inline-block;
}
.flag img{
  width: 20px;
  margin-right: 5px;
}
.team-style-default .inner .content .team-form {
  display: block;
  margin-bottom: 12px;
  letter-spacing: 0.6px;
}
.team-style-default .inner .content .description {
  margin-bottom: 0;
  padding: 0 5%;
}
.team-style-default:hover .skillsetBtn{
  background: var(--dd-color-1);
  border-color: var(--dd-color-1);
  color: var(--dd-color-4);
}

/* About Us */
.aboutBanner {
   padding: 0 0 30px 0;
   margin-top: -16px;
   margin-bottom: 20px;
   text-align: center;
}
.aboutBanner h2{
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 0px;
  line-height: 1.2;
  margin-top: -15px;
}
.aboutBanner h4{
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0px;
}
.relative{
  position: relative;
}
.aboutSec {
  position: relative
}
.aboutSec::before {
  background: var(--dd-color-2) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 50%;
  margin-left: -1px;
  position: absolute;
  width: 4px;
  border-radius: var(--dd-radius-2);
}
.aboutSecImg::before {
  border-bottom: 9px solid rgba(0, 0, 0, 0);
  border-top: 9px solid rgba(0, 0, 0, 0);
  content: "";
  margin-top: -9px;
  position: absolute;
  top: 50%;
}
.aboutSec .row:nth-child(2n) .aboutSecImg::before {
  border-left: 15px solid var(--dd-color-2);
  left: 0;
}
.aboutSec .row:nth-child(2n+1) .aboutSecImg::before {
  border-right: 15px solid var(--dd-color-2);
  right: 0;
}
.aboutSecImg {
  max-width: 450px;
  margin-left: auto;
}
.aboutSec img {
  border-radius: 50%;
  border: 4px solid #e46858;
    box-shadow: 0px 10px 14px 0px rgb(0 0 0 / 20%);
}
.aboutSec-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 20px;
}
.aboutSec-text h4 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.aboutSec-text p {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.aboutSec .row:first-child {
  padding-top: 25px;
}
.aboutSec .row:last-child {
  padding-bottom: 25px;
}
.aboutSec .row:nth-child(2) .aboutSecImg{
  margin-left: 0;
  margin-right: auto;
}
.aboutSec .row:nth-child(2) .aboutSec-text{
  padding-left: 0;
  padding-right: 20px;
}

/* Social */
.social-icons{
  padding: 10px;
  text-align: center;
  margin: 30px auto 0 auto;
  max-width: 240px;
  background: #e46858;
  border-radius: 32px;
}
.social-icons a{
  margin: 0 10px;
  color: var(--dd-color-4);
  font-size: 1.5rem;
}
.social-icons a:hover{
  color: var(--dd-color-1);
}

/* Chaekbox Switch */
.checkboxSlider{
  display: flex;
  align-items: center;
  font-weight: 500;
}
.switch {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 60px;
}
.switch input {
  display:none;
}
.slider {
  background-color: var(--dd-color-6);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all .4s;
}
.slider:before {
  background-color: #fff;
  bottom: 3px;
  content: "";
  height: 24px;
  left: 4px;
  position: absolute;
  transition: all .4s;
  width: 24px;
}

.switch input:checked + .slider {
  background-color: var(--dd-color-2);
}

.switch input:checked + .slider:before {
  transform: translateX(28px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.checkboxSlider span.left{
  margin-right: 10px;
}
.checkboxSlider span.right{
  margin-left: 10px;
}


.compareVs{
  position: fixed;
  top: calc(50% + 127px);
  left: calc(50% + 80px);
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background: var(--dd-color-2);
  color: var(--dd-color-4);
  text-align: center;
  line-height: 60px;
  border-radius: 30px;  
  font-size: 1.5rem;
  box-shadow: 0 0 10px 0 #e46858; 
  z-index: 3;
}
.projectInnerWrap .card-header{
  position: sticky;
  top: 96px;
  z-index: 2;
  background: #fff;
  border-radius: 1.25rem 1.25rem 0 0;
}
.__react_component_tooltip{
  background: var(--dd-color-1) !important;
}
.__react_component_tooltip.place-top::after{
  border-top-color: var(--dd-color-1) !important;
}
.hDevider{
  margin: 10px 0;
  height: 10px;
  background: var(--dd-color-5);
  margin-left: -20px;
  margin-right: -20px;
}

/* Modal */
.customModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.customModal.show {
  visibility: visible;
  opacity: 1;
}
.modalContainer {
  background: #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  position: relative;
  transition: all .4s ease-in-out;
}
.modalHeader{
  padding: 20px 20px 0px 20px;
}
.modalBody{
  padding: 20px;
}
.modalContainer h4 {
  margin-bottom: 0;
  padding-right: 20px;
}
.modalContainer .close {
  position: absolute;
  top: 6px;
  right: 13px;
  transition: all 200ms;
  font-size: 1.75rem;
  text-decoration: none;
  line-height: 1;
}

@media screen and (max-width: 767px){
  .modalContainer{
    max-width: 90%;
  }
}

.form-container input[type="checkbox"]{
  display:none;
}

.checkbox-container{
  margin-bottom: 16px;
}
.form-container .checkbox{
  display:inline-block;
  position:relative;
  padding-left:30px;
  line-height: normal;
  cursor: pointer;
  color: var(--dd-color-1);
}

.form-container .checkbox:before{
  z-index:15;
  content: '';
  position:absolute;
  left:0;
  top: -1px;
  transition:all 0.3s ease;
  cursor:pointer;
  width:20px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--dd-color-1);
  height:20px;
}
.form-container input[type="checkbox"]:checked + label{
  color:var(--dd-color-1);
}

.form-container input[type="checkbox"]:checked +  label:before{
  border-color: transparent;
  border-left-color: var(--dd-success);
  border-bottom-color: var(--dd-success);
  transform:rotate(-50deg);
  width:18px;
  height:10px;
  top: 0px;
}